<!DOCTYPE html>
<html lang="ja">
  <head>
  <meta charset="utf-8">
  <title>seventhmay.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38967745-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  </script>
</head>
<body>
  <div class="container">

    <div class="masthead">
      <ul class="nav nav-pills pull-right">
        <%= nav_link 'Home', root_path %>
        <%= nav_link 'Apps', apps_path %>
        <%= nav_link 'Links', links_path %>
        <li><a href="#">Contact</a></li>
      </ul>
      <h3 class="muted">seventhmay.com</h3>
    </div>

    <hr>

    <div class="jumbotron">
      <h3></h3>
    </div>

    <hr>

    <div class="row-fluid marketing">
      <div class="span6">
        <%= yield %>
      </div>
    </div>

    <hr>

    <span class='lead'><small>This site is hosted on Heroku.</small></span>

  </div>
</body>
</html>
